@use "../../scss/" as *;

.button {
  width: fit-content;
  cursor: pointer;
  left: 0px;
  top: 249px;
  border-radius: 6px;
  padding: 6px 16px;
  color: $white;
  background-color: $red;
  &:hover {
    opacity: 0.75;
  }
}

.loader {
  border: 0.5rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 0.5rem solid $bright-blue;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
// button

.burger {
  @include flex(center, center);
  cursor: pointer;
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@include mobile {
  .button__container {
    @include flex(center, center);
  }
  .burger {
    display: block;
  }
}

@include tablet {
  .button__container {
    @include flex(center, center);
  }
}
