@use "../../scss/" as *;

.nav {
  color: $white;
  position: fixed;
  position: -webkit-sticky;
  width: 100%;
  background-color: rgba($color: $grayBlue, $alpha: 0.5);
  padding-top: 22px;
  padding-bottom: 22px;
  z-index: 100;
  .container {
    @include flex(space-between, center);
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &__logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  &__menu {
    flex: 1;
    @include flex(flex-end, center);
    column-gap: 1rem;
  }
  // .active {
  //   color: $red;
  // }

  .active {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      height: 1px;
      background: $red;
    }
  }
}
